.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100dvh;
	padding: 0 14px;
}

@media (max-width: 600px) {
	.wrapper {
		padding: 0 10px;
	}
}

@media (max-width: 380px) {
	.wrapper {
		padding: 0 6px;
	}
}
